    <!-- NEW MESSAGE CONTAINER STARTS -->
    <form class="pure-form pure-form-stacked">
        <!-- Nimi -->
        <label for="nimi">Nimi:</label>
        <input type="text" id="nimi" placeholder="Matti" required>
        <!-- viesti -->
        <label for="viesti">Viesti:</label>
        <textarea type="text" id="viesti" placeholder="Tähän viestisi" required></textarea>
        <!-- fun fact itsestäsi -->
        <label for="fun-fact">Hauska fakta sinusta:</label>
        <textarea type="text" id="fun-fact" placeholder="Söin kerran litran vaniljajäätelöä." required></textarea>
        <!-- nappi -->
        <button type="submit" class="pure-button pure-button-primary">Lähetä</button>
    </form>
    <!-- NEW MESSAGE CONTAINER ENDS -->