    <!-- NAV CONTAINER STARTS  -->
    <div class="nav-container">
        <ul class="nav-items">
            <a href="/">Koti</a>
            <a href="/guestbook">Vieraskirja</a>
            <a href="/newmessage">Uusi viesti</a>
            <a href="/ajaxmessage">AJAX viesti</a>
        </ul>        
    </div>
    <!-- NAV CONTAINER ENDS  -->